---
import MoviePreview from '../components/MoviePreview.astro'
import options from '../lib/apiKey'
const { kind } = Astro.props
const category = kind === 'popular' ? 'popular' : 'top_rated'
const BASE_URL = `https://api.themoviedb.org/3/movie/${category}?language=en-US&page=1`
const res = await fetch(BASE_URL, options)
const { results: movies } = await res.json()
const src = path => `https://image.tmdb.org/t/p/w780${path}`
---

<div class="flex gap-6 w-screen overflow-auto pr-20 mb-10 max-sm:mb-6" data-carousel={kind}>
  {movies.map(movie => <MoviePreview src={src(movie.backdrop_path)} name={movie.title} rating={movie.vote_average} id={movie.id} />)}
</div>

<style>
  div[data-carousel]::-webkit-scrollbar {
    display: none;
  }
  div[data-carousel] {
    scrollbar-width: none;
  }
</style>
