---
import ThumbsUp from '../icons/ThumbsUp.astro'
import Play from '../icons/Play.astro'
import Plus from '../icons/Plus.astro'
import Actor from '../components/Actor.astro'
import { randomMovie, logoSrc, movieBackdrop, movieRating, releaseYear, cast, genres, IMG_URL } from '../../src/lib/hero.js'
---

<header class="text-xl mb-8 relative">
  <img src={movieBackdrop('og')} loading="lazy" class="absolute h-full w-full blur-[256px] z-[-1]" />
  <div class="image rounded-3xl overflow-hidden shadow-2xl" style=`background-image: url(${movieBackdrop('og')});`>
    <div class="shadow">
      <section class="px-20 max-w-[950px] h-screen flex justify-center flex-col gap-5">
        <img src={logoSrc} alt="Movie logo" />
        <div class="px-2 py-1 rounded-3xl">
          <div class="flex gap-3 items-center py-1 rounded-lg">
            <span class="aspect-square h-6 text-green-500"><ThumbsUp /></span>
            <p><span class="text-green-500">{Math.round(movieRating)}% </span>Likes</p>
            <span class="text-zinc-400">•</span>
            <p>{releaseYear}</p>
            <span class="text-zinc-400">•</span>
            <p class="bg-zinc-100 bg-opacity-20 border border-zinc-600 backdrop-blur-lg rounded-full px-5">16+</p>
            <span class="text-zinc-400">•</span>
            {
              genres.slice(0, 3).map((genre, index) => {
                if (index === genres.length - 1) return <p>{genre.name}</p>
                else return <p>{genre.name},</p>
              })
            }
          </div>
          <p class="leading-relaxed text-zinc-200 py-2 mb-2 rounded-lg">
            {randomMovie.overview}
          </p>
          <div class="py-1">
            <h3 class="font-semibold mb-2">STARRING</h3>
            <div class="flex gap-4">
              {
                cast.slice(0, 6).map(actor => {
                  if (actor.profile_path !== null) return <Actor src={`${IMG_URL}w185/${actor.profile_path}`} />
                })
              }
              <Actor src="/howtotrainyourdragon_cast/juanma.png" />
            </div>
          </div>
        </div>

        <div class="flex gap-4 mt-6">
          <button
            data-trailer
            id={randomMovie.id}
            class="relative overflow-hidden custom-hover gradient-one bg-rose-600 flex items-center justify-center gap-4 text-2xl w-64 h-[72px] py-6 rounded-full border-2 border-rose-500"
            ><Play />Play Trailer</button
          >
          <button
            class="relative overflow-hidden custom-hover gradient-two flex items-center justify-center gap-4 text-2xl w-64 h-[72px] py-5 bg-zinc-100 bg-opacity-15 rounded-full border-2 border-zinc-500 backdrop-blur-md"
            ><Plus />My Watchlist</button
          >
        </div>
      </section>
    </div>
  </div>
</header>

<style>
  .image {
    background: center / cover no-repeat;
  }
  .shadow {
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.8) 25%, transparent 75%);
  }
  .custom-hover::after {
    content: '';
    @apply w-full h-full absolute transition duration-500 opacity-0;
  }
  .custom-hover:hover::after {
    @apply opacity-100;
  }
  .gradient-one::after {
    background-image: radial-gradient(farthest-corner at 50% 100%, rgba(255, 255, 255, 0.3) 0%, transparent 69%);
  }
  .gradient-two::after {
    background-image: radial-gradient(farthest-corner at 50% 100%, rgba(255, 255, 255, 0.2) 0%, transparent 69%);
  }
</style>

<script>
  import { qs, $on } from '../lib/helpers.js'
  import options from '../lib/api'

  async function findTrailer(e) {
    const res = await fetch(`https://api.themoviedb.org/3/movie/${e.target.id}/videos`, options)
    const { results: trailers } = await res.json()
    const trailer = trailers.filter(trailer => trailer.type == 'Trailer')
    try {
      window.open(`https://youtu.be/${trailer[0].key}`, '_blank')
    } catch (error) {
      console.log(error)
    }
  }

  $on(qs('[data-trailer]'), 'click', findTrailer)
</script>
